<app-section-header headTitle="Create Item" [breadCrumb]="breadCrumb"></app-section-header>

<section class="new-item">
    <div class="container">
        <div class="new-item-container">
            <div class="preview-wrap">
                <h5>Preview</h5>
                <app-item-card></app-item-card>
                <div class="save-wrap">
                    <button class="btn save">
                        Save Item
                    </button>
                </div>
            </div>
            <div class="new-item-wrap">
                <div class="upload-file-wrap">
                    <label for="">Upload File</label>
                    <div class="dropzone">
                        <span>PNG, JPG, GIF, WEBP or MP4. Max 200mb.</span>
                        <button class="btn upload">
                            Upload File
                        </button>
                    </div>
                </div>
                <div class="price-wrap">
                    <label for="price" class="price">Price</label>
                    <input placeholder="Enter price for one item (USD)" type="text" name="price" id="price">
                </div>
                <div class="title-wrap">
                    <label for="title" class="title">Title</label>
                    <input placeholder="Item Name" type="text" name="title" id="title">
                </div>
                <div class="description-wrap">
                    <label for="description" class="description">Description</label>
                    <textarea placeholder="e.g. “This is very limited item”" name="description" id="description" cols="30" rows="10">

                    </textarea>
                </div>
                <div class="category-wrap">
                    <label for="category">Category</label>
                    <div class="dropdown-wrap">
                        <span class="current-drop-value">
                            Abstraction
                        </span>
                        <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L5 5L9 1" stroke="#8A8AA0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>