<app-section-header headTitle="Signup" [breadCrumb]="breadCrumb"></app-section-header>
<section class="login">
    <div class="login-wrap">
        <div class="head">
            <h3>Signup to NFTs</h3>
        </div>
        <form class="form-wrap">
            <input placeholder="Username" type="text" class="username">
            <input placeholder="Email" type="email" class="email">
            <input placeholder="Password" type="password" class="password-1">
            <input placeholder="Confirm your password" type="password" class="password-2">
        </form>
        <div class="cta-wrap">
            <button class="btn login">
                <span>Singup</span>
            </button>
        </div>
    </div>
</section>