<app-section-header headTitle="Login" [breadCrumb]="breadCrumb"></app-section-header>
<section class="login">
    <div class="login-wrap">
        <div class="head">
            <h3>Login to NFTs</h3>
        </div>
        <form #LoginForm="ngForm" class="form-wrap"> 
            <input 
                [(ngModel)]="loginForm.email" 
                #email="ngModel"
                name="email"
                required  
                placeholder="Email" 
                type="email" 
                class="email"
            >
            <input 
                [(ngModel)]="loginForm.password" 
                #password="ngModel"
                name="password"
                required 
                placeholder="Password" 
                type="password" 
                class="password"
            >
        </form>
        <div class="form-actions-wrap">
            <div class="checkbox-wrap">
                <svg class="checkbox-symbol">
                    <symbol id="check" viewbox="0 0 12 10">
                      <polyline
                        points="1.5 6 4.5 9 10.5 1"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                      ></polyline>
                    </symbol>
                </svg>
                <div class="checkbox-container">
                <input  class="checkbox-input" id="remember" type="checkbox" />
                <span (click)="remember.click()" class="checkbox">
                    <span>
                    <svg width="12px" height="10px">
                        <use xlink:href="#check"></use>
                    </svg>
                    </span>
                </span>
                <label #remember class="remember-label" for="remember">Remember me</label>
                </div>
            </div>
            <div class="forgot">
                <span routerLink="/auth/signup">Create an account</span>
            </div>
        </div>
        <div class="cta-wrap">
            <button [disabled]="!LoginForm.valid" (click)="login(LoginForm)" class="btn login">
                <span>Login</span>
            </button>
        </div>
    </div>
</section>