<app-section-header headTitle="Author" [breadCrumb]="breadCrumb"></app-section-header>
<section class="profile">
    <div class="container">
        <div class="profile-details">
            <div class="main-content">
                <div class="profile-content">
                    <div class="profile-image">
                        <div class="img"></div>
                    </div>
                    <div class="profile">
                        <div class="author-title">
                            <span>Author Profile</span>
                        </div>
                        <div class="author-name">
                            <span>{{ user.username | titlecase }}</span>
                        </div>
                        <div class="author-description">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati
                                dignissimos quae quo ad iste ipsum officiis deleniti asperiores sit.
                            </p>
                        </div>
                        <div class="copy-wrap">
                            <div class="copy">
                                <span>{{ user.email }}</span>
                                <svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.92188 4.45312H6.875V1.40625C6.875 0.630844 6.24416 0 5.46875 0H0.546875V14.125H11.3281V5.85938C11.3281 5.08397 10.6973 4.45312 9.92188 4.45312Z" fill="#7A798A"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile-actions">
                    <div class="cta-wrap">
                        <button routerLink="/user/new-item" class="btn new-nft">
                            <span>New NTF</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="profile-tabs">
                <div class="image-space">

                </div>
                <div class="tabs" role="tablist">
                    <span class="active" tabClick role="tab">
                        Favorites Items
                        <svg width="24" height="10" viewBox="0 0 24 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 0L24 10H0L12 0Z" fill="#14141F"/>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
        <div class="items-lists">
            <app-items-list [itemsData]="itemsData" [count]="count"></app-items-list>
        </div>
    </div>
</section>