<section class="shop">
	<div class="shop-header">
		<h2>Explore Shop</h2>
	</div>
	<div class="shop-content">
		<aside class="filter-sidebar-wrap">
			<div class="filter-head">
				<span>Filters</span>
				<span (click)="initializeForm()" class="reset-filter">Reset</span>
			</div>
			<form #filterForm="ngForm" class="all-filters">
				<div class="filter-wrap">
					<div (click)="categories.toggle()" [attr.aria-expanded]="!categoriesCollapsed" class="filter-name">
						<span>Categories</span>
						<svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M11.4428 7.0348C11.2504 7.23528 10.9494 7.25351 10.7372 7.08947L10.6764 7.0348L6.00156 2.16377L1.3267 7.0348C1.1343 7.23528 0.833232 7.2535 0.621074 7.08947L0.560292 7.0348C0.367893 6.83431 0.350402 6.52059 0.507819 6.29952L0.560292 6.23618L5.61836 0.965594C5.81076 0.765111 6.11183 0.746885 6.32399 0.910917L6.38477 0.965594L11.4428 6.23618C11.6545 6.45671 11.6545 6.81427 11.4428 7.0348Z"
								fill="white" />
						</svg>
					</div>
					<ul #categories="ngbCollapse" [(ngbCollapse)]="categoriesCollapsed" class="filter-body">
						
						<li *ngFor="let cat of categoriesData; let index = index; let last = last">
							<a href="">{{ cat.name }}</a>
							<div class="checkbox-wrap">
								<svg class="checkbox-symbol">
									<symbol id="check" viewbox="0 0 12 10">
										<polyline points="1.5 6 4.5 9 10.5 1" stroke-linecap="round" stroke-linejoin="round"
											stroke-width="2"></polyline>
									</symbol>
								</svg>
								<div class="checkbox-container">
									<input 
										class="checkbox-input" 
										id="{{ cat.name + index }}"
										[value]="cat._id"
										name="category" 
										[(ngModel)]="filterModel.categoryId"
										type="radio"
									>
									<label class="checkbox" for="{{ cat.name + index }}">
										<span>
											<svg width="12px" height="10px">
												<use xlink:href="#check"></use>
											</svg>
										</span>
									</label>
								</div>
							</div>
						</li>
					</ul>
				</div>

				<div class="filter-wrap">		
					<div (click)="prices.toggle()" [attr.aria-expanded]="!pricesCollapsed" class="filter-name">
						<span>Price Ranges</span>
						<svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M11.4428 7.0348C11.2504 7.23528 10.9494 7.25351 10.7372 7.08947L10.6764 7.0348L6.00156 2.16377L1.3267 7.0348C1.1343 7.23528 0.833232 7.2535 0.621074 7.08947L0.560292 7.0348C0.367893 6.83431 0.350402 6.52059 0.507819 6.29952L0.560292 6.23618L5.61836 0.965594C5.81076 0.765111 6.11183 0.746885 6.32399 0.910917L6.38477 0.965594L11.4428 6.23618C11.6545 6.45671 11.6545 6.81427 11.4428 7.0348Z"
								fill="white" />
						</svg>
					</div>
					<div #prices="ngbCollapse" [(ngbCollapse)]="pricesCollapsed" class="filter-body slider">
						<mat-slider [disableRipple]="true" [min]="minPrice" [max]="maxPrice">
							<input 
								[(ngModel)]="filterModel.priceOne" 
								name="priceOne" 
								matSliderStartThumb
							>
							<input 
								[(ngModel)]="filterModel.priceTwo" 
								name="priceTwo" 
								matSliderEndThumb
							>
						</mat-slider>
						<div class="price-ranges">
							<small>Price:</small><span>${{ filterModel.priceOne }} — ${{ filterModel.priceTwo }}</span>
						</div>
					</div>
				</div>
				<div class="load-more-wrap">
					<button (click)="applyFilters()" class="btn load-more">
						Apply
					</button>
				</div>
			</form>

		</aside>
		<div  class="shop-list-wrap">
			<div class="shop-head">
				<span class="items-counter">{{ itemsData ? itemsData.total : 0 }} Items</span>
				<div class="order-options">
					<div class="layout-btns">
						<div (click)="changeLayout('grid')" [class.active]="layout == 'grid'" class="grid-layout">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M22 8.52V3.98C22 2.57 21.36 2 19.77 2H15.73C14.14 2 13.5 2.57 13.5 3.98V8.51C13.5 9.93 14.14 10.49 15.73 10.49H19.77C21.36 10.5 22 9.93 22 8.52Z"
									fill="white" />
								<path
									d="M22 19.77V15.73C22 14.14 21.36 13.5 19.77 13.5H15.73C14.14 13.5 13.5 14.14 13.5 15.73V19.77C13.5 21.36 14.14 22 15.73 22H19.77C21.36 22 22 21.36 22 19.77Z"
									fill="white" />
								<path
									d="M10.5 8.52V3.98C10.5 2.57 9.86 2 8.27 2H4.23C2.64 2 2 2.57 2 3.98V8.51C2 9.93 2.64 10.49 4.23 10.49H8.27C9.86 10.5 10.5 9.93 10.5 8.52Z"
									fill="white" />
								<path
									d="M10.5 19.77V15.73C10.5 14.14 9.86 13.5 8.27 13.5H4.23C2.64 13.5 2 14.14 2 15.73V19.77C2 21.36 2.64 22 4.23 22H8.27C9.86 22 10.5 21.36 10.5 19.77Z"
									fill="white" />
							</svg>
							<span>Grid</span>
						</div>
						<div (click)="changeLayout('list')" [class.active]="layout == 'list'" class="list-layout">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M21 8H3C2.59 8 2.25 7.09333 2.25 6C2.25 4.90667 2.59 4 3 4H21C21.41 4 21.75 4.90667 21.75 6C21.75 7.09333 21.41 8 21 8Z"
									fill="#EBEBEB" />
								<path
									d="M21 14H3C2.59 14 2.25 13.0933 2.25 12C2.25 10.9067 2.59 10 3 10H21C21.41 10 21.75 10.9067 21.75 12C21.75 13.0933 21.41 14 21 14Z"
									fill="#EBEBEB" />
								<path
									d="M21 20H3C2.59 20 2.25 19.0933 2.25 18C2.25 16.9067 2.59 16 3 16H21C21.41 16 21.75 16.9067 21.75 18C21.75 19.0933 21.41 20 21 20Z"
									fill="#EBEBEB" />
							</svg>
							<span>List</span>
						</div>
					</div>
					<div class="order-actions">
						<app-order-filter></app-order-filter>
					</div>
				</div>
			</div>
			<div class="shop-items">
				<app-items-list *ngIf="itemsData" [itemsData]="itemsData" [layout]="layout"></app-items-list>
			</div>
		</div>
	</div>
</section>